.card {
  border: 4px #3e63bd solid;
  border-radius: 2px;
  width: 200px;
  height: 200px;
  position: relative;
  box-shadow: 4px 4px 10px rgb(56, 56, 56);
  transition: all .2s ease-in-out;
  float: left;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 38px;
  margin-left: 38px;
  margin-top: 40px;
  margin-bottom: 40px;
}
  
.card > .img-container {
  clear: both;
  height: 100%;
  overflow: hidden;
  background:#ffffff;
  text-align: center;
}
  
.card > .img-container > img {
  height: 100%;
}
  
.card:hover {
  box-shadow: 8px 8px 20px rgb(56, 56, 56);
  transform: scale(1.1);
  cursor: pointer;
}
  
.card:active {
  transform: translate(1px, 1px);
}

/* ===== MEDIA QUERIES ===== */

@media screen and (min-width: 981px) and (max-width: 1200px) {
	.card {
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 55px;
    margin-left: 55px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
	.card {
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 72px;
    margin-left: 72px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
  
@media screen and (min-width: 641px) and (max-width: 768px) {
	.card {
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
	.card {
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
	.card {
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 150px) and (max-width: 320px) {
	.card {
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 150px) and (max-width: 300px) {
	.card {
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
