.card {
  border: 4px #3e63bd solid;
  border-radius: 2px;
  width: 200px;
  height: 200px;
  position: relative;
  box-shadow: 4px 4px 10px rgb(56, 56, 56);
  transition: all .2s ease-in-out;
  float: left;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 38px;
}
  
.card > .img-container {
  clear: both;
  height: 100%;
  overflow: hidden;
  background:#ffffff;
}
  
.card > .img-container > img {
  height: 100%;
}
  
.card:hover {
  box-shadow: 8px 8px 20px rgb(56, 56, 56);
  transform: scale(1.1);
  cursor: pointer;
}
  
.card:active {
  transform: translate(1px, 1px);
}