body {
    background-color: #f6c945;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #3e63bd!important;
}

.navbar-brand {
    width: 75%;
    left: 0;
    margin:0 auto;
    margin-left: 40px;
    font-size: 22px;
    letter-spacing: 0.5px;
}

#simpsons-title {
    font-weight: 700;
}

#homer-logo {
    width: 3%;
    height: auto;
    margin-bottom: 5px;
    margin-right: -25px;
}

#instructions,
#message {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

#message {
    color: #ffffff;
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #f6c945;
}

#currentScore {
    margin-right: 40px;
}

/* ===== MEDIA QUERIES ===== */

@media screen and (min-width: 981px) and (max-width: 1200px) {
    #instructions {
        visibility: hidden;
    }
  #homer-logo {
    width: 3.5%;
    }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
    #homer-logo {
        width: 4%;
    }
}
  
@media screen and (min-width: 641px) and (max-width: 768px) {
    #homer-logo {
        width: 5.5%;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
    #homer-logo {
        width: 7%;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    #homer-logo {
        width: 9%;
    }
    .navbar-brand {
        font-size: 16px;
    }
}

@media screen and (min-width: 150px) and (max-width: 320px) {
    #homer-logo {
        width: 10%;
    }
    .navbar-brand {
        font-size: 13px;
    }
}